# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
#
# Copyright (c) 2011-2025 ETH Zurich.

name: verify

on:
  push: # run this workflow on every push
  pull_request: # run this workflow on every pull_request

jobs:
  verify-packages:
    runs-on: ubuntu-latest
    container:
      image: gobraverifier/gobra-base:v6_z3_4.8.7
    env:
      GOBRA_REF: 8facab51220570ff88f72e71e794bcb336208e47

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Create stats dir
        run: |
          mkdir .gobra

      - name: Clone Gobra
        run: |
          git clone https://github.com/viperproject/gobra

      - name: Build Gobra
        working-directory: gobra/
        run: |
          git checkout "$GOBRA_REF"
          git submodule update --init --recursive
          sbt compile
          sbt assembly

      - name: Verify files
        run: |
          java -jar -Xss128m gobra/target/scala-2.13/gobra.jar \
            --recursive \
            --hyperMode extended

      - name: Upload Gobra statistics
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: stats.json
          path: .gobra/stats.json
          if-no-files-found: error
